.mainbanner {
  background-image: url("../../assets/images/banner1.png");
  background-size: cover;
  background-position: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between ;
  object-fit: scale-down;

}
.mainbanner div{
  height: 20vh;
}
.mainTitle {
  color: #d0d2c4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Space Grotesk;
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainText {
  text-align: start;
  margin: 20px;
  width: min-content;
  justify-self: center;
  align-self: flex-start;
}
.mainDesc {
  color: #ced2c0;
  font-family: Space Mono;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.scrollDown {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-self:last baseline;
  align-self: center;
  
}
.scrollDown p {
  color: #ced2c0;
  font-family: Space Mono;
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
}

.scrollDown img {
  height: 40px;
  animation: fadeOut 3s ease-out infinite;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translatey(-20%)
    }
    50% {
      opacity: 0.5;
      transform: translatey(-10%)
    }
    100% {
      opacity: 1;
    
    }
}
