.itemCard {
  height: 400px;
  width: 275px;
  background-color: azure;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.itemCard img {
  height: 75%;
  width: 100%;
  object-fit: cover;
}

.cardInfo {
  font-family: Space Mono;
  padding: 10px;
}

.idStatus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  color: green;
  font-family: Space Mono;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.status_unknown {
  color: yellowgreen

}
.status_retired {
  color:#f33131;
}
.status_destroyed {
  color:grey;
}

.idStatus p:first-child {
  color: #000;
  font-family: Space Mono;
  font-size: 1.5rem;
  font-weight: 700;
}

.itemType {
  color: #000;
  font-family: Space Mono;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 5px 0px 5px;
}
.lounchDate {
  color: #000;
  font-family: Space Mono;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-inline: 5px;
}

@media only screen and (max-width: 768px){

  .itemCard img {
    height: 75%;
    width: 100%;
  }
  .itemCard {
    height: 400px;
    width: 175px;
    border-radius: 10px;
  }
  .cardInfo {
    font-family: Space Mono;
    padding: 5px;
  }
  
  
}

